.aboutme {
	@include flexbox-column;
	border-bottom: 1px solid #eee;
	padding-bottom: 40px;
	background-color: white;
	.selfie-container {
		position: relative;
	}
	.selfie {
		position: relative;
		display: block;
		z-index: 2;
		height: 200px;
		width: 200px;
		margin-top: -100px;
		border-radius: 100%;
		border: 20px solid white;
		background-color: rgb(175, 214, 244);
		background-image: image-url('selfie.jpg');
		background-size: cover;
		background-position: center;
		transition: $fadeSpeed;
	}
	.selfie-copy {
		position: absolute;
		top: 0;
		z-index: 1;
		background-image: image-url('selfie-2.jpg');
	}
	.selfie-1:hover {
		opacity: 0.0;
	}
	#profile-links p {
		text-indent: 0px;
		margin: 0px;
	}
	p {
		text-indent: 30px;
		line-height: 2;
	}
	.skillset {
		border-top: 1px solid rgba(black, 0.1);
		margin-bottom: 20px;
		.container {
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
		}
		.skill {
			display: block;
			img {
				height: 60px;
				padding: 10px;
			}
			span {
				font-size: smaller;
				text-align: center;
				color: rgba(black, 0.2);
			}
			img, span {
				display: block;
			}
		}
	}
	h3 {
		text-align: center;
		span {
			color: $color2;
		}
	}
}

@mixin aboutme-mobile {
	.aboutme {
		h3, span {font-size: 50px;}
		.selfie {
			height: 400px;
			width: 400px;
			margin-top: -200px;
		}
		.skillset .skill{
			 img {
				height: 140px;
				padding: 20px;
			}
			span {font-size: 35px;}
		}
	}
}
