.aboutme {
	@include flexbox-column;
	border-bottom: 1px solid #eee;
	padding-bottom: 60px;
	background-color: white;

	.selfie {
		height: 200px;
		width: 200px;
		margin-top: -100px;
		border-radius: 100%;
		border: 20px solid white;
		background-color: white;
		background-image: image-url('selfie.jpg');
		background-size: cover;
		background-position: center;
		transition: $fadeSpeed;
	}
	.selfie:hover {
		background-image: image-url('selfie-2.jpg');
	}
	p {
		max-width: 800px;
		color: $color3;
		text-indent: 30px;
		line-height: 2;
	}
	.skillset img {
		height: 60px;
		padding: 10px;
	}
	#profile-links p {
		text-indent: 0px;
		margin: 0px;
	}
}
