.aboutme {
	@include flexbox-column;
	border-bottom: 1px solid #eee;
	padding-bottom: 60px;
	background-color: white;
	.selfie-container {
		position: relative;
	}
	.selfie {
		position: relative;
		display: block;
		z-index: 2;
		height: 200px;
		width: 200px;
		margin-top: -100px;
		border-radius: 100%;
		border: 20px solid white;
		background-color: rgb(175, 214, 244);
		background-image: image-url('selfie.jpg');
		background-size: cover;
		background-position: center;
		transition: $fadeSpeed;
	}
	.selfie-copy {
		position: absolute;
		top: 0;
		z-index: 1;
		background-image: image-url('selfie-2.jpg');
	}
	.selfie-1:hover {
		opacity: 0.0;
	}
	p {
		max-width: 800px;
		color: $color3;
		text-indent: 30px;
		line-height: 2;
	}
	.skillset img {
		height: 60px;
		padding: 10px;
	}
	#profile-links p {
		text-indent: 0px;
		margin: 0px;
	}
}

@mixin aboutme-mobile {
	.aboutme {
		.selfie {
			height: 400px;
			width: 400px;
			margin-top: -200px;
		}
		.skillset {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			img {
				height: 140px;
				padding: 20px;
			}
		}
	}
}
