.projects-image {
  background: image-url("laptop.jpg");
  background-size: cover;
  background-position: center;
}
.projects {
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 100px;
  background-color: rgba(black, .7);
  @include flexbox-column;

  h1 {
    color: white;
    font-size: 30px;
  }
  .container {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .item img {
      width: 100%;
      margin-bottom: -4px;
      opacity: .8;
    }
    .item {
      flex-grow: 1;
      width: 200px;
      min-width: 32%;
      padding: 3px;
    }
    .description {
      h2 {
        color: rgba(white, .8);
        font-size: 20px;
        line-height: 1px;
      }
      padding: 0px 0px;
      text-align: center;
      background-color: $color2;
      border: 7px solid rgba(black, .05);
    }
  }
}
