.projects-image {
  background: image-url("laptop.jpg");
  background-size: cover;
  background-position: center;
}
.projects {
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 100px;
  background-color: rgba(black, .7);
  @include flexbox-column;

  h1, h3 {
    color: white;
    opacity: .9;
  }
  h1{font-size: 40px;}
  .container {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .item {
      box-sizing: border-box;
      flex-grow: 1;
      width: 200px;
      min-width: 32%;
      margin: 6px;
      background-color: rgba(white, 0.9);
    }
    .img-overlay {
      background-color: $color2;
    }
    .item img {
      width: 100%;
      display: block;
      position: relative;
      z-index: 9;
      transition: $fadeSpeed;
      opacity: 0.3;
      filter: grayscale(100%);
    }
    img:hover {
      opacity: 1;
      filter: grayscale(0%);
    }
    h2 {
      color: $color2;
    }
    .description {
      padding: 0px 20px;
      margin-bottom: 20px;
      max-height: 200px;
      overflow-y: scroll;
    }
    .links {
      display: flex;
      flex-direction: row;
      margin-top: 0px;
      box-sizing: border-box;
      border-top: 1px solid $color3;
      border-right: none;
      a {
        color: $color3;
        display: inline-block;
        position: relative;
        width: 50%;
        text-align: center;
        padding: 5px;
      }
      a:hover {color: $color2}
      #a-div {border-right: 1px solid $color3;}
    }
  }
  .more-projs {
    h3 {
      text-align: center;
      padding-top: 20px;
    }
    width: 80%;
    ul {
      display: block;
      margin: auto;
      width: 40%;
      list-style: none;
    }
    li {
      padding: 5px 3px;
      transition: background-color 1s;
      box-sizing: border-box;
      border-bottom: 1px solid rgba(black, 0.3);
    }
  }
}

@mixin projects-mobile {
  .projects {
    h1, h3 {font-size: 70px}
    .container {
      width: 90%;
      .item img {margin-bottom: -10px}
      .item {
        min-width: 99%;
        //padding-bottom: 60px
      }
      .description {
        h2 {font-size: 60px}
        max-height: 400px;
        padding: 40px;
        p {
          line-height: 2;
        }
      }
      .links {
        a {
          font-size: 60px;
          padding: 20px;
        }
      }
    }
    .more-projs {
      ul {width:90%}
      a {font-size: 60px}
    }
  }
}
