<div id="star-field" style="position: relative;">
	<section class="banner" id="banner">
		<div class="photo"></div>
		<div class="text">
			<!-- <h1>Web Dev</h1>
			<h2>Melissa Martinez</h2> -->
		</div>
	</section>
</div>
