<div id="cool-gradient" style="position: relative;">
	<section class="connect" id="connect">
		<a href="https://www.linkedin.com/in/melissa-martinez-b3599290" id="linkedin">
			<h1>Connect with me</h1>
			<div><%= image_tag "linkedin-icon.svg"%></div>
		</a>
		<a href="https://github.com/melmar12" id="github">
			<h1>See what I'm wokring on</h1>
			<div><%= image_tag "github-icon.svg"%></div>
		</a>
	</section>
</div>
