<p>
Hi I'm melissa martinez.
I'm getting a degree in MIS while 
I'm exploring the world of web development
I have been particularly drawn to Front End web development, but my long term goal is learning full stack development. 
I have a good understanding of object oriented programaing
I'm available for internship or part time work this summer 2016 
or full time emplyoment after may 2017

I love writting organized code
my deliberate and efficient, thinking of the future 
</p>