<p>
Hi I'm Melissa, I make websites. For the past couple of years I have been exploring the world of web development. It was after I found myself hanging around all the developers at a Startup Weekend that I decided this was the career path I wanted to take. I have been drawn to Front End web development, and my long term goal is to 'master' full stack development.

I'm currently a student at the University of Houston getting a degree in Management Information Systems expected to graduate in May of 2017. I'm available for a summer 2016 internship or freelance work. 


I leaverage my business knowledge when designing websites, you can catch me talking business development at startup weekends 

I have been particularly drawn to Front End web development, but my long term goal is mastering full stack development. 

I have a good understanding of object oriented programaing
I'm available for internship or part time work this summer 2016 
or full time emplyoment after may 2017

I love writting organized code
my deliberate and efficient, thinking of the future 
</p>