<div class="footer">
	<div id="social">
		<ul>
			<li>social meidia</li>
			<li>proudly coded in texas</li>
			<li>not link, <a href="">link</a></li>
		</ul>
	</div>
	<div id="blurb">
		<p>coded in Texas yeee</p>
	</div>
</div>