
	<div class="project">
		<h1>Projects</h1>
		<div>
			<%= image_tag "browser1.png", class: "browser" %>
			<%= image_tag "iphone1.png", class: "iphone" %>
		</div>
		<h1 class="title">Zappos</h1>
		<a href="https://github.com/melmar12/LlamaDrama" class="btn">View</a>
	</div>
	<div class="project">
		<div>
			<%= image_tag "browser2.png", class: "browser" %>
			<%= image_tag "iphone2.png", class: "iphone" %>
		</div>
		<h1 class="title">PTC</h1>
		<a href="https://github.com/melmar12/Vendit_v2" class="btn">View</a>
	</div>