<div class="project">
	<div>
		<div>
			<%= image_tag "browser.png", class: "browser" %>
			<%= image_tag "iphone.png", class: "iphone" %>
		</div>
		<a href="">View</a>
	</div>
	<div>
		<div>
			<%= image_tag "browser.png", class: "browser" %>
			<%= image_tag "iphone.png", class: "iphone" %>
		</div>
		<a href="">View</a>
	</div>
</div>