
	<section class="project">
		<h1>Projects</h1>
		<div>
			<%= image_tag "browser1.png", class: "browser" %>
			<%= image_tag "iphone1.png", class: "iphone" %>
		</div>
		<a href="https://github.com/melmar12/LlamaDrama" class="btn">Zappos</a>
	</section>

	<section class="project">
		<div>
			<%= image_tag "browser2.png", class: "browser" %>
			<%= image_tag "iphone2.png", class: "iphone" %>
		</div>
		<a href="https://github.com/melmar12/Vendit_v2" class="btn">PTC</a>
	</section>