
	<div class="project">
		<h1>Projects</h1>
		<div>
			<%= image_tag "browser.png", class: "browser" %>
			<%= image_tag "iphone.png", class: "iphone" %>
		</div>
		<a href="" class="btn">View</a>
	</div>
	<div class="project">
		<div>
			<%= image_tag "browser.png", class: "browser" %>
			<%= image_tag "iphone.png", class: "iphone" %>
		</div>
		<a href="" class="btn">View</a>
	</div>