<div class="project">
	<div>
		<div>
			<%= image_tag "browser.png" %>
			<%= image_tag "iphone.png" %>
		</div>
		<a href="">View</a>
	</div>
	<div>
		<div>
			<%= image_tag "browser.png" %>
			<%= image_tag "iphone.png" %>
		</div>
		<a href="">View</a>
	</div>
</div>