@mixin much-response {
	p, ul {font-size: 2em}
	.btn {font-size: 6em}

	.banner{
		.photo {
			height: 1000px;
			background-position: center;
		}
		.text {
			height: 1000px;
			justify-content: center;
			h1{font-size: 7.5em;}
			h2{font-size: 6em;}
		}
	}

	.aboutme {
		.selfie {
			height: 400px;
			margin-top: -200px;
		}
		.skillset {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			img {
				height: 140px;
				padding: 20px;
			}
		}
	}

	.connect {
		display: block;
		a {
			width: 100%;
			font-size: 2em;
		}
		img {
			height: 80px;
			width: 80px;
			padding: 30px;
		}
		#linkedin div, #github div {
			width: 140px;
			height: 140px;
		}
	}

	footer {
		#section1 {
			h1 {font-size: 90px}
		}
		#section2 {
			p {font-size: 3.5em;}
		}
	}

}

/* ~******~ Media Queries ~******~ */

/* ----------- iPhone 6 ----------- */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    @include much-response;
}

/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) {
    @include much-response;
}  

/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    @include much-response;
}  

/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    @include much-response;
}  

/* ----------- Galaxy S5 ----------- */
/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    @include much-response;
}  

/* ----------- Galaxy S4 ----------- */
/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    @include much-response;
}  

/* ----------- Galaxy S3 ----------- */
/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
    @include much-response;
}  

/* ----------- HTC One ----------- */
/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    @include much-response;
}  