.project {
	@include flexbox-column;
	padding-top: 20px;
	padding-bottom: 50px;
	border-bottom: 1px solid #eee;
	background-color: white;


	div {padding-bottom: 25px}
	h1 {
		font-weight: 700;
		font-size: 50px;
		color: $color2;
	}
	.browser {
		box-shadow: 2px 2px 4px #888888;
		height: 450px}
	.iphone {
		height: 400px;
		margin-left: -100px;
		margin-bottom: -10px;
	}
}