.project {
	@include flexbox-column;
	padding-top: 10px;
	padding-bottom: 50px;
	border: 1px solid #eee;

	h1 {
		@include header;
		color: $color2;
	}
	.browser {
		box-shadow: 2px 2px 4px #888888;
		height: 450px}
	.iphone {
		height: 400px;
		margin-left: -100px;
		margin-bottom: -10px;
	}
	.title {
		color: $color1;
		padding: 0px;
	}
}