body {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Teko:700|Roboto:300,700');
$head: 'Roboto', sans-serif;
$body: 'Montserrat', sans-serif;
$special: 'Teko', sans-serif;

$color1: #dc3c82; //accent
$color2: #663c82; // light
$color3: #003778; // dark
@mixin rgba-color1($a) {background-color: rgba(220,60,130,$a);} // accent
@mixin rgba-color2($a) {background-color: rgba(102,60,130,$a);} // light
@mixin rgba-color3($a) {background-color: rgba(0,55,120,$a);} // dark
$fadeSpeed: 900ms ease-in-out;

$main-image: image-url("redrock.jpg");

h1, h2 {font-family: $head}
p, ul {
	font-family: $body;
	font-size: 18px;
}
a {
	text-decoration: none;
	color: $color2;
	font-weight: 700;
	transition: $fadeSpeed;
}
a:hover {color: $color1}
.btn {
	box-sizing: border-box;
	border: 5px solid $color2;
	padding: 2px 8px 2px 8px;
	min-width: 100px;
	background-color: $color2;
	text-align: center;
	font-family: $head;
	font-weight: 700;
	color: white;
	font-size: 30px;
	transition: $fadeSpeed;
}
.btn:hover {
	background-color: white;
	color: $color1;
	border-color: $color1;
}

@mixin flexbox-column {
	display: flex;
	align-items: center;
	flex-direction: column;
}

@mixin theme-mobile {
  p, ul {font-size: 2.5em}
  .btn {font-size: 4em}
}
